/* Your existing styles here */
.job-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 1px solid black;
  flex-direction: column;
  text-align: center;
}

.container {
  justify-content: center;
  margin: 20px;
  border: 1px solid black;
  flex-direction: row;
}

.job-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}
